<div class="sidebar" [ngClass]="{ expanded: isExpanded }">
	<div class="header">
		<h1 class="title">
			<img src="../../../assets/logo.png" alt="logo" class="logoHolder" />
		</h1>
		<div class="toggle" (click)="handleSidebarToggle()">
			<span class="chevron"></span>
		</div>
	</div>
	<div class="content">
		<div class="link">
			<div
				class="content"
				[routerLink]="['/dashboard/home']"
				[routerLinkActive]="'active'"
			>
				<div class="icon">
					<i class="bi bi-house"></i>
				</div>
				<div class="title">Home</div>
			</div>
		</div>
		<div class="link">
			<div
				class="content"
				[routerLink]="['/user/analysis']"
				[routerLinkActive]="'active'"
			>
				<div class="icon">
					<i class="bi bi-list-ol"></i>
				</div>
				<div class="title">Analysis</div>
			</div>
		</div>
		<div class="link with-children">
			<div
				class="content"
				[routerLink]="['/dashboard/transaction']"
				[routerLinkActive]="'active'"
			>
				<div class="icon">
					<i class="bi bi-gear"></i>
				</div>
				<div class="title">Transaction</div>
			</div>
		</div>
	</div>
</div>
